spell/*
bundle/*
autoload/*
plugged/*
cache/*
fonts/*
liquidprompt*
macros/*
session/*
sessions/*
syntax/*
undo/*
abbr.*
**/*.retry
.DS_Store
bash-git-prompt
bash-sensible
ohmyzsh
.netrwhist
local_init.vim
asdf/asdf
