spell
bundle
autoload
plugged
plugin
pack
cache
fonts
macros
session
sessions
syntax
undo
abbr.*
**/*.retry
.DS_Store
liquidprompt*
bash-git-prompt
bash-sensible
ohmyzsh
.netrwhist
asdf/asdf
lua-language-server
local.*
Session.vim
